body {
  background-image: url("../topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
}

* {
  font-family: "Montserrat";
  transition: 0.3s;
}

.myName {
  h1 {
    color: white;
    font-size: 3em;
    font-weight: 700;
    text-align: center;

    @media only screen and(max-width: 450px) {
      font-size: 2em;
    }
  }

  a {
    text-decoration: none
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  align-items: center;

  @media only screen and(max-width: 450px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));

  }

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
  }

  div {
    background-color: #fff;
    border-radius: 15px;

    &:hover {
      transform: scale(1.05);
    }
  }

  h1 {
    padding: 15px;
    white-space: nowrap;
    @media only screen and(max-width: 450px) {
      padding: auto;
      font-size: 1.2em;
      white-space: normal;
    }
  }
}