@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body,
html {
    margin: 0;
    padding: 0;

    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

header {
    background: url('/bg.jpg');
    margin: 0;
    padding: 0;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;

    #name {
        margin: 0;
        padding-top: 1em;
        text-align: center;
        font-weight: 800;
        font-size: 4em;
    }
    
    p {
        color: rgba(0,0,0,0.6);
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        padding: 3em;
        line-height: 35px;
        font-size: 1.5em;

        @media screen and (max-width: 570px) {
            font-size: 1.2em;
            line-height: 30px;
            padding: 1em;
            text-align: left;
        }
    }
}

main {
    text-align: center;

    #name {
        margin-top: 1em;
        color: rgba(0,0,0,0.75)
    }

    p {
        color: rgba(0, 0, 0, 0.75)
    }

    textarea {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 3em;
        border-radius: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1em;
        transition: 0.2s;
        outline: none;
        padding: 1em;
        resize: none;
        border: none;
        background-color: rgb(236, 236, 236);

        &:focus {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
            transform: scale(1.1);
            background: white;

            @media screen and (max-width: 400px) {
                transform: scale(1.05);
            }

        }

        @media screen and (min-width: 1400px) {
            max-width: 400px;
            max-height: 200px;
        }

        @media screen and (max-width: 1400px) {
            max-width: 250px;
            max-height: 100px;
        }

    }

    .container {
        display: block;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 70vw;

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            max-width: 100vw;
        }

        #out {
            display: none;
        }
    }

    button {
        background-color: rgb(80, 143, 80);
        color: white;
        font-size: 1.3em;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background-color: rgba(80, 143, 80, 0.725);
        }
    }
}

footer {
    background-color: #e7e7e7;
    margin-top: 2em;
    padding: 0;
    text-align: center;

    h3 {
        margin: 0;
        padding: 0;
        font-size: 2.2em;
        font-weight: lighter
    }

    h6 {
        margin: 0;
        padding-top: 5px;
        font-size: 1.4em;
        font-weight: normal;
    }

    hr {
        border-top: 1px solid black;
    }

}